################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/final-win64
/.vs
/src/3rdparty/SDL2-2.0.5/VisualC/.vs/SDL/v17
